body { background-color: #261BFA;
    font-size: 18px;
}
img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
/* Mobile Styles */

#container { 
    background-color: #7C1ADB;
    margin: 20px; 
}
header { 
    padding: 60px 20px;
    border-bottom: 4px solid #EC29F2;
}
Header h1 {
    text-align: center;
    font-size: 3em;
}
.col {
    border: 15px solid #EC29F2;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}
.col h2 {
    text-align: center;
    font-size: 2em;
}
.col img {
    width: 50%;
}
.main_img {
    display: none;
}
footer {
    padding: 40px 0;
    text-align: center;
    border-top: 4px solid #EC29F2;
    font-family: bold;
}
@media(min-width: 768px) {
    container {
        width: 90%;
        margin: 20px auto;
    }
.col {
    width: 65%;
    margin: 20px auto;
}
.col img {
    width: 30%;
}
@media(min-width: 1024px) {
    #container {
        width: 50%;
        border-radius: 20px;
    }
    #flex {
        display: flex;
    }
    .col {
        margin:20px;
        width: 100%;
    }
    .col img {
        width: 40%
    }
    .main_imgh {
        display: block;
        width: 30%;
        margin: 20px;
    }
}