/* Global Styles */
body {
    background-color: #D66853;
}
img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* Moblie Styles*/
#container {
    background-color: #D66853;
    margin: 10px;
}

header {
    background-image: url('../images/gcourse1.jpg');
    background-size: cover;
    padding: 70px 0;
}
header h1 {
    color: #D6A75E;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
}
nav, section, aside, .col, footer {
    background-color: #D66853;
    padding: 10px;
    margin: 10px;
    border: 4px solid #F7CE6D;
    border-radius: 10px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav li {
    display: block;
}
nav li a {
    display: block;
    background-color: #D66853;
    color:#EDAD74;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    margin: 10px 0;
    border-radius: 10px;

}
nav li a:hover {
    background-color: #F7CE6D;
    text-shadow: 2px 2px 2px #000;
    color: #F7856D;
}

nav, section, aside, .col, footer {
background-color: #F7856D;
padding: 20px;
margin: 10px;
border: 4px solid #F7CE6D;
border-radius: 10px;
}
h2, h3 {
    color: #F7CE6D;
    text-shadow:2px 2px 2px #000;
    font-size: 1.5;
    text-align: center;
}
section img, aside img {
    width: 65%;
}
.button {
    display: block;
    background-color: #D66853;
    color:#EDAD74;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    margin: 10px 0;
    border-radius: 10px;

}
.button:hover {
    background-color: #F7CE6D;
    text-shadow: 2px 2px 2px #000;
    color: #F7856D;
}
footer {
    text-align: center;
    color: #F7CE6D;
}
/* Tablet Styles*/

@media(min-width: 768px) {
    header {
        padding: 125px;
    }
    header h1 {
        font-size: 3em;
    }
    nav {
        text-align: center;
        padding: 5px;
    }
    nav li {
        display: inline-block;
    }
    nav li a {
        height: 50px;
        line-height: 50px;
        width: 200px;
    }
    #upper_flex {
        display: flex;
    }
    section, aside {
        width: 50%;
    }
    aside img {
        width: 50%;
    }    
    .col img {
            width: 60%;
            border-radius: 10px;
            border: 4px solid #F7CE6D;
        }
    }



/* Desktop Styles*/

@media(min-width: 1024px) {
    #container {
        width: 75%;
        margin: 20px auto;
        border: 4px solid #EDAD74;
        border-radius: 20px;
    }
    header {
        border-radius: 20px 20px 0 0;
    }
    nav li a {
       margin: 0 20px;
    }
    #lower_flex {
        display: flex;
    }
    .col {
        width: 100%;
    }
    .col img {
        width: 100%
    }
}