/* Global Styles */
body {
    background-color: #D66853;
}
img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* Moblie Styles*/

header{
    background-image: url('../images/gcoursel.jpg');
    background-size: cover;
    padding: 70px 0;
}
header h1 {
    color: #F7856D;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
}

nav, section, aside, .col, footer {
background-color: #F7856D;
padding: 10px;
margin: 10px;
border: 4px solid #F7CE6D;
border-radius: 10px;
}

/* Tablet Styles*/


/* Desktop Styles*/